.ai-planner{

padding:70px 40px;

background:#ecfdf5;

}



.planner-content{

text-align:center;

}



.planner-content h2{

font-size:38px;

color:#166534;

}



.planner-content p{

font-size:18px;

margin-top:15px;

color:#555;

}



.planner-box{

margin:40px auto;

max-width:900px;

background:white;

padding:35px;

border-radius:20px;

display:grid;

grid-template-columns:repeat(2,1fr);

gap:25px;

box-shadow:0px 5px 20px rgba(0,0,0,0.15);

}



.input-group{

display:flex;

flex-direction:column;

text-align:left;

}



.input-group label{

font-weight:bold;

margin-bottom:8px;

}



.input-group input,
.input-group select{


padding:12px;

border:1px solid #ccc;

border-radius:8px;

font-size:16px;

}



.planner-box button{


grid-column:span 2;


background:#15803d;

color:white;

border:none;

padding:15px;

font-size:18px;

border-radius:10px;

cursor:pointer;

}



.planner-box button:hover{

background:#166534;

}




@media(max-width:768px){


.planner-box{

grid-template-columns:1fr;

}


.planner-box button{

grid-column:span 1;

}

}