.category-card{

background:white;

width:250px;

padding:25px;

border-radius:15px;

text-align:center;

box-shadow:0px 5px 20px rgba(0,0,0,0.15);

transition:0.3s;

}



.category-card:hover{

transform:translateY(-10px);

}



.category-icon{

font-size:45px;

margin-bottom:15px;

}



.category-card h3{

font-size:22px;

color:#15803d;

margin-bottom:10px;

}



.category-card p{

color:#555;

font-size:15px;

}



.category-card button{

margin-top:15px;

padding:10px 25px;

border:none;

background:#15803d;

color:white;

border-radius:8px;

cursor:pointer;

}



.category-card button:hover{

background:#166534;

}