.featured{


padding:70px 40px;

text-align:center;

background:#f9fafb;


}



.featured h2{

font-size:38px;

color:#166534;

}



.featured p{

font-size:18px;

color:#555;

}



.places-container{


display:flex;

justify-content:center;

gap:30px;

flex-wrap:wrap;

margin-top:40px;


}